<div>

	<a class="main-title" href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
		<h1>{{ site.title }}</h1>
	</a>
	<div class="divider divider-big"></div>
	<p class="main-subtitle">{{ site.description }}</p>
	<div class="divider divider-small"></div>

</div>

<nav>

	<ul class="socialItem-list">

		<!--social links-->
		{% for socialItem in site.social %}
		<li class="socialItem">
			<a href="{{ socialItem.link }}" title="{{ socialItem.name }}" target="_blank">
				<i class="fa fa-{{ socialItem.name }} fa-lg"></i>
			</a>
		</li>
		{% endfor %}

		<!--blog-->
		<li class="socialItem blog_nav">
			<a href="{{ site.baseurl }}#blog" title="blog" class="blog-button">
				<i class="fa fa-pencil fa-lg"></i>
			</a>
		</li>
	</ul>

</nav>