// general
a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
}

ul li.socialItem {
	display: inline-block;
	width: 30px;
	height: 30px;
    margin: auto;
}

ul.socialItem-list {
  	text-align: center;
	display: block;
	width: 100%;
	float: left;
}

.page-content {
    padding: 0;
}

// main
.main-title {
	display: block;
  	text-align: center;
}

.main-subtitle {
	display: block;
  	text-align: center;
}

// home
.home-background {
    // background
	background: url(../images/cover.jpg) no-repeat #666666; 
	background-size: cover;

    // positioning 
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;

    // size
	max-width: none;
	width: 100%;
	height: 100%;

    // blur
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}