// general
.page-content {
    padding: 0;
}

// home
.home-background {
	background: url(../images/cover.jpg) no-repeat #666666; 
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;

	display: block;
	width: 100%;
	max-width: none;
	height: 100%;
	background-size: cover; 
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}